{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block body %}
    <h1>Search Results</h1>

    {% if matches %}
        <p>Sorry, we couldn't find <em>"{{ term }}"</em>.</p>
        <p>Here's a list of possible matches to your query:</p>
        <ul>
            {% for match in matches %}
                <li><a href="wiki/{{ match }}" title="{{ match }}">{{ match }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Sorry, <em>"{{ term }}"</em> didn't match any of our existing articles.</p>
        <p><a href="{% url 'index' %}" title="Homepage">Go back to the Homepage.</a></p>
        <p>Create a <a href="{% url 'newpage' %}">new entry</a> for <em>"{{ term }}"</em>.</p>
    {% endif %}

{% endblock %}